* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 412px;
  min-width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
}

.container {
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #ffffff;
  width: 100%;
}

.logo {
  height: 38px;
  width: 36px;
  margin-top: 24px;
  margin-bottom: 22px;
}

.registration {
  padding: 16px;
}

.registration__header {
  width: 100%;
  font-size: 32px;
  text-align: center;

  font-weight: 800;

  color: #000000;

  padding: 5px;
  margin-bottom: 22px;
}

.registration__button {
  width: 100%;
  padding: 15px;
  border: 1px solid #0057ff;
  border-radius: 10px;
  margin: 0 auto 16px;
  text-align: center;
  font-size: 18px;
  font-family: "Lato", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  cursor: pointer;
  color: #0057ff;
  background-color: #ffffff;
  transition: 0.15s;
}

.registration__button:hover {
  color: #ffffff;
  background-color: #0057ff;
  font-weight: 700;
}

.image {
  width: 100%;
}

.statistics {
  background-color: #0057ff;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px 80px;
}

.statistics__item {
  padding: 20px 30px;
}
.statistics__number {
  font-size: 48px;
  font-weight: 300;
}
.statistics__text {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  padding: 10px 20px;
}

.posts {
  width: 100%;
}
.posts__header {
  font-weight: 800;
  font-size: 24px;
  text-align: left;
  padding: 19px 16px;
}
.posts__list {
  display: flex;
  flex-direction: column;
  width: 100%;
  list-style: none;
}

.post {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #e9e9e9;
  padding: 16px;
}

.post:last-child {
  border-bottom: none;
}

.post__avatar {
  padding: 0 16px 16px 0;
}

.post__avatar img {
  width: 52px;
  height: 52px;
  border-radius: 50%;
}

.post__body {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  flex-grow: 1;
}

.post__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.user {
  font-size: 14px;
  text-align: left;
}

.user__name {
  font-weight: bold;
  padding: 3px 0;
}

.user__nickname,
.post__time,
.stats__item {
  color: #abacb1;
}

.post__time {
  font-size: 10px;
  text-align: right;
  width: 52px;
}

.post__message {
  text-align: left;
  padding: 7px 7px 7px 0;
}
.post__image {
  padding: 10px 0;
}
.post__image img {
  width: 100%;
  border-radius: 10px;
}

.stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 55px 10px 0;
}

.stats__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.stats__item p {
  padding-left: 12px;
}

.hidden {
  display: none;
}

.modal {
  position: sticky;
  color: #555555;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #ffffff;
  transition: 3s ease;
  border-radius: 10px 10px 0 0;
  bottom: 0;
  padding: 16px;
}

.handler {
  width: 50px;
  height: 4px;
  background-color: #abacb1;
  border-radius: 10px;
  margin: 0 auto;
}

.modal__header {
  text-align: left;
  color: #1d1e22;
  font-size: 24px;
  font-weight: 800;
  padding: 32px 0 23px 0;
}

.registration__form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.registration__input {
  height: 52px;
  border-radius: 10px;
  margin: 24px 15px 0 15px;
  width: 100%;
  padding: 15px;
  border: 1px solid #dfdfdf;
  border-radius: 10px;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 400;
}

.registration__input::placeholder {
  color: #b1b1b1;
}

.modal__input {
  position: relative;
  color: #555555;
  margin-bottom: 16px;
}

.modal__label {
  display: none;
  position: absolute;
  top: 15px;
  left: 15px;
  color: #b1b1b1;
}

.registration__input:focus ~ .modal__label {
  display: block;
  transform: translateY(-0.65rem) translateX(0.15rem);
  color: #b1b1b1;
  font-size: 9px;
  font-weight: 400;
}

.registration__input.invalid {
  background-color: #ffdeec;
  border: 1px solid #ff97c3;
}

.input__message {
  display: none;

  font-size: 9px;
  font-weight: 400;
  color: #dc3545;
  text-align: left;
}

.registration__input.invalid ~ .input__message {
  display: block;
  padding: 0 16px;
}

.error .registration__input {
  border-color: red;
}
.error-label {
  display: block;
  margin-bottom: 10px;
  color: red;
  text-align: left;
}
