.input 
    {
        background: white;
        padding: 15px;
        width: 100%;
        border-radius: 10px;
        border: #ABACB1;
        margin-bottom: 21px;
      }
      @media screen and (max-width: 479px) {
        .input {
            display: none;
        }
      }