
    .container {
  
        display: flex;
        flex-direction: row;
        /*align-items: center;
        justify-content: center;
        text-align: center; */
        background-color: #F4F5F6;
        width: 100%;
        
      }
    
    
    .left {
        width: 633px;
    
    
    }
    .right {
    width: 312px;
    }

@media screen and (max-width: 479px) {
    
    .right {
        display: none;
        }

    .container {
        max-width: 479px;
    }
  }

