#root {
    max-width: 1280px;
    margin: 0 auto;
   
    text-align: center;
  }
  
  .card {
    padding: 2em;
  }
  
  .read-the-docs {
    color: #888;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    max-width: 412px;
    min-width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
  }
  
  .container {
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #ffffff;
    width: 100%;
  }

  .right-desktop-header {
    width: 100%;
    padding: 0px;
  }

  @media screen and (width > 1279px) {
    #root {
      margin: 0;
    }

    .container {
      width: 1280px;
      background-color:#F4F5F6;
      
    }
    .header {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      background-color: #fff;
      height: 640px;
    }
    .desktop-body {
      display: flex;
      flex-direction: row;
    }
    .right-desktop-header {
      width: 640px;
    }
    .left-desktop-header {
      width: 640px;
      padding: 64px;
    }
    

  }
  