#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  
  .card {
    padding: 2em;
  }
  
  .read-the-docs {
    color: #888;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    max-width: 412px;
    min-width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
  }
  
  .container {
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #ffffff;
    width: 100%;
  }